:local(.className) {
    margin-top: 140px;
}

:local(.header) { 
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: rgba(174, 184, 0, 1);
    text-align: left;
    z-index: 2;
}

:local(.headerText) {  
    color: #FFF;
    font-weight: bold;
    font-size: 24px;
    margin-left: 90px;
    margin-top: -43px;
}

:local(.headerImage) {  
    height: 50px;
    margin-top: 0px;
    margin-left: 30px;
}

:local(.addTribeBtn) {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    
}

:local(.plusBtn) {
    width: 80px;
    display: inline-block;
    margin-bottom: 80px;
    position: relative;
    left: 155px;
}

:local(.btnContainer) > a {
    display: block;
    color: #199ed8;
}

:local(.btnContainer) {
    
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 100px;
    font-size: 24px;
    font-weight: 900;
}