:local(.className) {

}

:local(.header) { 
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: rgba(174, 184, 0, 1);
    text-align: left;
    z-index: 2;
}

:local(.headerText) {  
    color: #FFF;
    font-weight: bold;
    font-size: 24px;
    margin-left: 90px;
    margin-top: -43px;
}

:local(.headerImage) {  
    height: 50px;
    margin-top: 0px;
    margin-left: 30px;
}

:local(.addTribeBtn) {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    
}


:local(.btnContainer) {
    background-color: rgba(25, 158, 216, 1);
    padding: 15px 40px;
    display: inline-block;
    margin-bottom: 30px;
    margin-top: 150px;
    font-size: 24px;
}