:local(.header) { 
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: rgba(174, 184, 0, 1);
    text-align: left;
    z-index: 2;
}

:local(.headerText) {  
    color: #FFF;
    font-weight: bold;
    font-size: 24px;
    margin-left: 90px;
    margin-top: -43px;
}

:local(.headerImage) {  
    height: 50px;
    margin-top: 0px;
    margin-left: 30px;
}

:local(.content) {  
    width:95%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    position: relative;
    top: 70px;
    margin-bottom: 500px;
}

:local(.sectionHeader) {  
    width:100%;
    border-bottom: solid 2px #aeb800;
    margin-bottom: 30px;
}

:local(.sectionHeader) > p{  
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0px;
    text-align: left;
}


:local(.inputSection) {
    text-align: left;
    width: 100%;
    clear: both;
    height: 150px;
}

:local(.inputSectionLeft) {
    float: left;
    width: 35%;
    margin-left: 15px;
}

:local(.inputSectionTitle) {
    font-size: 30px;
    margin-bottom: -15px;
}

:local(.inputSectionTitle) > span {
    font-style: italic;
}

:local(.inputSectionInstrc) {
    font-size: 14px;
    color:#868686;
}

:local(.inputSectionRight) {
    float: right;
    width: 30%;
    margin-right: 100px;
    min-width: 200px;
    position: relative;
}

:local(.inputSectionRight) > input {
    width: 100%;
    font-size: 22px;
    line-height: 38px;
    margin-top: 50px;
    padding-left: 15px;
    font-weight: 100;
}

:local(.inputSectionRight) > input[type='checkbox'] {
    float:left;
    text-align: left;
    height: 40px;
    width:40px;
    position: relative;
    top: -15px;
    left: 0px;
}

:local(.inputSectionRight) > p {
    font-size: 20px;
    font-weight: 900;
    margin-top: 40px;
    margin-left: 40px;
}

:local(.inputSectionRight) > select {
    font-size: 22px;
    width: 100%;
    margin-top: 50px;
    padding: 15px 10px;
}

:local(.saveBtn) {
    background-color: #aeb800;
    color: #FFF;
    text-decoration: none;
    font-size: 26px;
    padding: 20px 45px;
    border: none;
    margin-bottom: 1000px;
    position: absolute;
    left: 0px;
    font-weight: 900;
    margin-top: 70px;
}






