:local(.header) { 
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: rgba(174, 184, 0, 1);
    text-align: left;
    z-index: 2;
}

:local(.headerText) {  
    color: #FFF;
    font-weight: bold;
    font-size: 24px;
    margin-left: 90px;
    margin-top: -43px;
}

:local(.headerImage) {  
    height: 50px;
    margin-top: 0px;
    margin-left: 30px;
}

:local(.className) {
    width:95%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    position: relative;
    top: 70px;
    margin-bottom: 500px;
}

:local(.button) {
    background-color: #199ed8;
    padding: 10px 20px;
    width: 150px;
    color: #FFF;
    text-align: center;
    margin: 5px;
    border-radius: 3px;
    display: inline-block;
}

:local(.button) > a {
    text-decoration: none;
    color: #FFF;
    font-weight: 900;
    font-size: 16px;
}

:local(.noPairsNotice) > img {
    width: 100px;
}

:local(.noPairsTitle) {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 5px;
}

:local(.noPairsSubtitle) {
    font-size: 20px;
    font-weight: 900;
    margin-top: 0px;
}

:local(.pair-assignments) {
    background:none;
}




.pair-assignments-header {
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
    border-radius: 15px;
    padding-left: 40px;
    padding-right: 5px;
    padding-bottom: 6px;
}

#pair-assignments-content {
    white-space: pre-line;
}

.current.pair-assignments {
    display: inline-block;
}

.pair-assignments {
    border-radius: 20px;
    padding: 5px;
    margin: 5px 0;
    background-color: hsla(146, 17%, 80%, 1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.pair-assignments .on-drag-enter {
}

.pair-assignments .on-drag-hover > div {
    background-color: orange;
}

.pair-assignments playercard {
    display: inline-block;
    overflow: hidden;
}

:local(.unpairedPlayerRoster) {
    display: inline-block;
    border-radius: 20px;
    padding: 10px;
    background-color: #f5c3b3;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}