div(ng-class="tribebrowser.styles.className")
    div(ng-class="tribebrowser.styles.breadcrums")
        a(href="/tribes") Team List Page
        p > 
        a(href="") {{tribebrowser.tribe.name}}
        p > 
        a Home

    div(ng-class="tribebrowser.styles.sectionHeader")
        div(ng-class="tribebrowser.styles.gravatar")
            tribecard(tribe="tribebrowser.tribe" size="50")
        p {{tribebrowser.tribe.name}}   
        
        div(ng-class="tribebrowser.styles.pullRight")
            div(ng-class="tribebrowser.styles.button")
                a(href="/{{tribebrowser.tribe.id}}/statistics") Team Stats
            
            div(ng-class="tribebrowser.styles.button")
                 a(href="/{{pairAssignments.tribe.id}}/history/") History
            
            