:local(.className) { /*header*/
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: rgba(174, 184, 0, 1);
    text-align: left;
}

:local(.welcome) {  /*header text*/
    color: #FFF;
    font-weight: bold;
    font-size: 24px;
    margin-left: 10px;
    margin-top: 10px;
}

:local(.welcomePair) { /*content*/
    width: 100%;
    margin-top: 60px;
}

:local(.welcomeProverb) { /*action box*/
    
    width:500px;
    border:5px solid #aeb800;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    top:50%;
    margin-top: -100px;
    background-color: #FFF;
}

:local(.welcomeTitle) {  /*action box text/welcome message*/
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    color: #aeb800;
    margin-bottom: 25px;
}


:local(.enterButtonContainer) { /*Sign in button container*/
    background-color: rgba(25, 158, 216, 1);
    padding: 15px 40px;
    display: inline-block;
    margin-bottom: 30px;
}

:local(.enterButton) {  /*Sign in button*/
    color: #FFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    
}




