div(ng-class="welcome.styles.className")
    p(ng-class="welcome.styles.welcome") COUPLING
    
div(ng-class="welcome.styles.welcomePair")
    div(ng-class="welcome.styles.welcomeProverb")
        p(ng-class="welcome.styles.welcomeTitle") WELCOME TO COUPLING
        div
            div(ng-class="welcome.styles.enterButtonContainer")
                a(ng-class="welcome.styles.enterButton" href="/auth/google" target='_self' class="") Start Coupling With Your Team
                
    div(ng-class="welcome.styles.overlay")












